<ion-view title="Account" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="Account-list6">
      <ion-item class="item-avatar" id="Account-list-item26">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <button id="Account-button6" class="button button-positive button-block">Log out</button>
    <a ui-sref="tabsController.events_tab4()" id="Account-button7" class="button button-positive button-block">Account registered event</a>
  </ion-content>
</ion-view>