<ion-view title="Organizers" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="organizers-list1">
      <ion-item class="item-icon-right" id="organizers-list-item8" ui-sref="tabsController.events({organizer:'ITM'})">1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="organizers-list-item11" ui-sref="tabsController.events({organizer:'AIS'})">2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>